default_stop_words = ['', 'throughout', 'his', "i'd", 'noone', 'between', 'anywhere', 'whither', 'whose', 'see',
                      'afterwards', "wasn't", 'beforehand', 'have', 'any', 'something', 'side', 'in', 'still', 'are',
                      'an', 'much', 'us', "you're", "we're", 'says', 'thereupon', 'becoming', "shan't", '‘s', 'where',
                      'might', 'therein', '’re', 'has', "haven't", 'our', 'indeed', 'using', 'two', 'too', 'neither',
                      'most', 'hereupon', "she'd", "can't", "she's", 'up', 'bottom', 'well', "i'm", 'first', 'several',
                      'above', 'be', 'against', 'thus', 'with', 'give', 'namely', "n't", 'put', 'else', "hadn't",
                      'seems', 'mostly', 'nowhere', 'herself', "wouldn't", 'no', "'d", 'somehow', 'a', 'whether',
                      'perhaps', 'anyone', 'back', 're', 'whom', 'whenever', 'these', "hasn't", 'the', 'so', 'there',
                      'elsewhere', 'twenty', 'keep', 'thru', 'why', "he'd", "shouldn't", 'cannot', 'though', 'under',
                      'anything', 'here', 'never', 'about', 'did', 'what', 'nine', 'done', 'n’t', 'almost', 'i',
                      'everything', 'then', "we've", 'own', 'is', 'thence', 'quite', 'sixty', 'nothing', 'do', 'could',
                      "it's", 'while', "we'd", 'down', 'said', "when's", 'name', 'twelve', '‘d', 'does', 'meanwhile',
                      'moreover', 'not', 'say', "i've", 'nobody', 'hereafter', 'who', 'were', 'doing', 'really',
                      'whereupon', '’ll', 'nor', 'of', 'whereby', '‘ll', 'yo', 'she', 'during', 'without', 'only',
                      'alone', "doesn't", 'until', 'by', 'their', 'enough', 'please', 'everywhere', 'such', 'should',
                      "they're", 'but', 'fifty', 'fifteen', 'that', 'go', "we'll", "couldn't", 'off', "how's",
                      'himself', 'yet', '’d', 'again', 'will', 'your', 'become', 'whoever', 'ten', 'would', 'otherwise',
                      'ours', "you've", 'formerly', 'although', 'upon', 'wherever', 'if', 'few', 'its', 'him', 'forty',
                      'toward', 'once', "i'll", 'hundred', 'either', "they'll", 'was', 'they', "where's", 'had', 'same',
                      'another', 'herein', 'even', 'further', 'someone', "won't", "they've", 'into', 'regarding',
                      'through', 'more', 'her', 'also', 'towards', 'however', 'am', 'from', 'theirs', "what's",
                      'became', 'hereby', 'you', 'ever', 'since', 'hers', 'already', 'top', 'them', 'many', "who's",
                      'last', 'everyone', 'anyhow', "'ll", 'one', 'how', 'yourselves', 'part', 'via', 'made', 'always',
                      'must', 'themselves', 'as', 'former', 'both', 'make', 'often', 'show', 'least', 'beyond', "he'll",
                      "isn't", 'within', 'seemed', 'get', 'yourself', "he's", 'rather', '’s', "they'd", "let's", 'my',
                      'very', 'wherein', 'less', 'when', 'whole', 'some', 'eight', 'whence', 'becomes', 'except',
                      'below', "why's", 'to', 'hence', 'than', 'ca', 'four', 'third', 'amount', "you'd", 'ourselves',
                      'n‘t', 'six', '’m', 'shall', 'every', 'among', 'other', "don't", 'because', 'behind', 'due',
                      'none', 'myself', 'whereafter', 'he', 'together', "didn't", 'before', 'whereas', 'along', 'me',
                      "you'll", "'ve", 'thereby', 'others', 'itself', "here's", 'five', 'eleven', "she'll", "'re",
                      'seeming', 'onto', 'after', 'out', 'each', '’ve', 'sometimes', 'can', 'call', 'over', 'unless',
                      '‘m', 'used', 'for', 'now', "'s", 'or', 'latter', 'take', 'been', 'across', 'latterly', 'and',
                      'somewhere', 'on', 'mine', 'move', 'empty', 'anyway', 'at', 'full', "aren't", 'it', '‘re', 'seem',
                      'serious', 'front', 'nevertheless', 'next', 'which', '‘ve', 'amongst', "mustn't", 'those', 'all',
                      'whatever', 'just', 'around', 'thereafter', "'m", "weren't", 'beside', 'having', 'we', 'three',
                      'besides', 'yours', 'sometime', 'various', 'therefore', 'ought', "there's", 'may', 'being',
                      'this', "that's", 'per']
